<div class="search-content">
  <ion-row>
    <ion-col size="12">
      <h1 class="title"> ¿Cómo consigo mi crédito ?</h1>
    </ion-col>
  </ion-row>

  <ion-card class="centered-card">
    <div class="circle">
      <div class="number">1</div>
    </div>
    <p style="font-size: 24px;">
      Simula tu crédito
    </p>
  </ion-card>
  <ion-row>
    <ion-col size="12">
      <img src="https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/38595.png" alt="" width="450">
    </ion-col>
  </ion-row>

  <ion-button shape="round">
    ¡Solicita tu crédito!
  </ion-button>

</div>