.business-content {
    color: #021442;
    text-align: center;
    padding: 25px;

    ion-card {
        background-color: #FCF8EA;
        padding: 25px;
    }

    ion-text {
        color: #021442;
    }

    .centered-avatar {
        margin: 20px;
    }
}