<div class="business-content">
  <ion-row>
    <ion-col size="12">
      <h1 class="title"> ¡Recibe el acompañamiento que tenemos para tu negocio!</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>Descubre nuestro acompañamiento empresarial por la solicitud de tu crédito con nosotros</p>
    </ion-col>
  </ion-row>

  <ion-card class="centered-card">
    <h1 class="title">¡Conoce los aspectos a mejorar de tu negocio!</h1>
    <ion-avatar class="centered-avatar">
      <img src="https://img.freepik.com/vector-gratis/hombre-muestra-gesto-gran-idea_10045-637.jpg?w=2000" alt="user">
    </ion-avatar>
    <ion-card-content>
      <ion-text>
        Realiza un <b> autodiagnóstico</b> de los aspectos que te interesan en tu negocio y <b> conoce cómo
          mejorarlos.</b>
      </ion-text>
    </ion-card-content>
  </ion-card>



</div>