<div class="available-content">
  <ion-row>
    <ion-col size="12">
      <h1 class="title"> Antes de empezar ten en cuenta</h1>
    </ion-col>
  </ion-row>

  <p>Nuestros servicios financieros con asesoría empresarial, se encuentran disponibles en las siguientes zonas:</p>
  <img src="https://cloud.educaplay.com/recursos/159/5107855/imagen_1_1580940628.png" alt="">

  <ion-row>
    <ion-col size="12">
      <ion-button shape="round">
        ¡Solicita tu crédito!
      </ion-button>

    </ion-col>
  </ion-row>

</div>