<div class="req-content">
  <ion-row>
    <ion-col size="12">
      <h1 class="title"> Solo necesitas lo siguiente </h1>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <img alt="Silhouette of mountains"
                  src="https://toppng.com//public/uploads/preview/ew-feature-new-calendar-agenda-view-calendar-pink-icon-11563624795mnrgyfxc5m.png" />
              </ion-avatar>
              <ion-text>Ser <b> mayor de edad </b> (18-75 años) para realizar la solicitud</ion-text>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="12">
      <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="women" width="250px">
    </ion-col>
  </ion-row>

  <ion-button shape="round">
    ¡Quiero mi crédito!
  </ion-button>

</div>