<div class="principal-content">
  <div class="sphereT "></div>
  <ion-row>
    <ion-col size="12">
      <h1 class="title-principal"> interactuar </h1>
    </ion-col>
  </ion-row>
  <div class="sphereB bottom-sphere"></div>
  <ion-button shape="round">
    ¡Simular mi crédito!
  </ion-button>
  <ion-row>
    <ion-col size="12">
      <h1>¡Bienvenido al crédito digital de interactuar!</h1>
      <p>Solicita tu crédito digital con interactuar, rápido y fácil desde la comodidad de tu casa y ¡haz crecer tu
        negocio!</p>
    </ion-col>
  </ion-row>

</div>